@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", serif;
}

.diagonal-section {
    color: white;
    background: linear-gradient(to right, #0056b3, #007bff);
    position: relative;
    overflow: hidden;
}

.wave{
    transition: all;
    transition-duration: 1s;
}

.wave:hover{
    transform: translate(10px,20px);
}
.diagonal-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    transform: skewY(-3deg);
    transform-origin: right bottom;
}


